body {
    font: 300 14px/1.2 'Public Sans', sans-serif;
   
  }
.myForm{
    align-items: center;
    background-color: rgb(172, 127, 255);
  }
.result {
    /* display: flex;
    justify-content: center;
    width: 100px; */
}

@media (min-width: 768px) {
    #demo1 {
        flex-direction: row;
        align-items: baseline;
    }
}